//
// Config
//

// The base font size (used for body text, and to calculate other sizing)
$base-size: 16px;

// The base line height (1.5 times the base font size usually works)
$base-line-height: $base-size * 1.5;

// The ratio by which we will scale sizing by
$scale-ratio: 1.2;

// Indent amount (used to indent things such as lists, figures etc)
$indent-amount: $base-size * 3;

// Align to either full multiples of $base-line-height, or half multiples (whole will fit elements
// to the grid exactly, half will also align to half lines). Whole is preferable, but can sometimes
// introduce bad looking small font-size/high line-height combos. You could also fix this by
// adjusting line height and margin (using rhythm variables) on problem elements in your own
// stylesheet, if using rhythm in your Sass workflow
// String; 'whole' or 'half'
$align-to-grid: 'half';

// Enable the grid?
// Boolean; true or false
$grid-enabled: true;

//
// Grid
//

@if $grid-enabled {
  body {
    $grid-colour-1: rgba(0, 170, 255, 0.3);
    $grid-colour-2: rgba(0, 170, 255, 0.15);

    @if $align-to-grid == 'whole' {
      background-image: linear-gradient(to bottom, $grid-colour-1 1px, transparent 1px);
    } @else if $align-to-grid == 'half' {
      background-image: linear-gradient(to bottom, $grid-colour-1 1px, transparent 1px, transparent ($base-line-height / 2), $grid-colour-2 ($base-line-height / 2), transparent (round($base-line-height / 2) + 2), transparent $base-line-height);
    }

    background-position: left top;
    background-repeat: repeat;
    background-size: 100% $base-line-height;
  }
}

//
// Functions
//

// A power function (multiply a number by itself n amount of times)

@function pow($number, $exponent) {
  $value: 1;

  @if $exponent > 0 {
    @for $i from 1 through $exponent {
      $value: $value * $number;
    }
  }

  @return $value;
}

//
// Styling
//

// Default global style rules for block level elements
h1, h2, h3, h4, h5, h6, blockquote, dd, dl, dt, figcaption, figure, li, ol, p, ul {
  font-size: $base-size;
  line-height: $base-line-height;
  margin: $base-line-height 0;
}

// Headings (this styles headings 1 through 6)
@for $i from 1 through 6 {
  h#{$i} {

    // Calculate the correct font size (as a variable first, so it can be reused later)
    $size: round($base-size * pow($scale-ratio, abs($i - 7)));
    font-size: $size;

    // Calculate line height
    @if $align-to-grid == 'whole' {
      $line-height: round(ceil($size / $base-line-height) * $base-line-height);
      line-height: $line-height;
    } @else if $align-to-grid == 'half' {
      $line-height: round(ceil($size / ($base-line-height / 2)) * ($base-line-height / 2));
      line-height: $line-height;
    }

    // Headings should have more white space above them than below, remember the Gestalt principle
    // of proximity
    margin: $base-line-height * 3 0 $base-line-height * 1 0;
  }
}

// Lists (Make sure they are all aligned horizontally) (We set the indent in two parts; this means
// we can control the distance the li is from the bullet)
dl, ol, ul {
  padding: 0 $indent-amount * ((1 / 6) * 5);
}

dd, dt, li {
  margin: 0;

  // Distance from bullet
  padding: 0 $indent-amount * ((1 / 6) * 1);
}

dt {
  font-weight: 700;

  // Titles should have white space above them
  margin-top: $base-line-height;
}
