//
// Config
//

// The base font size (used for body text, and to calculate other sizing)
$base-size: 16px;

// The base line height (1.5 times the base font size usually works)
$base-line-height: $base-size * 1.5;

// The ratio by which we will scale sizing by
$scale-ratio: 1.2;

// A line-height grid (useful for design/development, comment to disable)
body {
  background-image: linear-gradient(to bottom, rgba(0, 170, 255, 0.3) 1px, transparent 1px);
  background-position: left top;
  background-repeat: repeat;
  background-size: 100% $base-line-height;
}

//
// Functions
//

// A power function (multiply a number by itself n amount of times)

@function pow($number, $exponent) {
  $value: 1;

  @if $exponent > 0 {
    @for $i from 1 through $exponent {
      $value: $value * $number;
    }
  }

  @return $value;
}

//
// Styling
//

// Global style rules
* {
  font-size: $base-size;
  line-height: $base-line-height;
  margin: $base-line-height 0;
}
