body {
  background-color: hsla(0, 0%, 98%, 1);
  color: hsla(0, 0%, 10%, 1);
  font-family: 'Exo 2', sans-serif;
  margin: 0 auto;
  padding: 0 25px;
  max-width: 700px;
  word-wrap: break-word;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

h4 code {
  font-size: 31px;
  line-height: 54px;
}

a {
  color: blue;
}

nav {
  text-align: right;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav li {
  display: inline;
}

nav a {
  color: hsla(0, 0%, 10%, 1);
  text-decoration: none;
}

nav a.active {
  font-weight: 700;
}

code, pre {
  background-color: hsla(275, 8%, 90%, 1);
  border-radius: 4px;
}

code {
  padding: 0 5px;
}

pre code {
  padding: 0;
}

header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 81px 0 27px 0;
}

header h1 {
  margin: 0;
}

pre.prettyprint {
  border: none !important;
  font-size: 15px;
  padding: 27px !important;
}

code span {
  font-size: inherit;
}

footer,
.info {
  align-items: center;
  display: flex;
  flex-direction: column;
}

footer {
  margin-bottom: 54px;
}

.github.icon {
  margin-right: 0.5em;
}

.github.button {
  align-items: center;
  background-color: hsla(0, 0%, 10%, 1);
  border-radius: 50px;
  box-shadow: 0 3px 6px hsla(0, 0%, 0%, 0.15), 0 2px 4px hsla(0, 0%, 0%, 0.12);
  color: hsla(0, 0%, 98%, 1);
  display: flex;
  padding: 14px 27px;
  position: relative;
  margin: 0 auto;
  margin-top: 26px;
  text-align: center;
  text-decoration: initial;
}

.github.button.footer {
  margin-top: 80px;
}

.github.button:hover {
  box-shadow: 0 10px 20px hsla(0, 0%, 0%, 0.15), 0 3px 6px hsla(0, 0%, 0%, 0.1);
  top: -1px;
}

.github.button:active {
  box-shadow: 0 1px 3px hsla(0, 0%, 0%, 0.12), 0 1px 2px hsla(0, 0%, 0%, 0.24);
  top: 1px;
}


.license-badge {
  align-items: center;
  display: flex;
  height: 27px;
  margin-top: 27px;
}

@media screen and (min-width: 450px) {
  header {
    margin: 78px 0 26px 0;
  }

  footer {
    margin-bottom: 52px;
  }

  h4 code {
    font-size: 33px;
    line-height: 52px;
  }

  pre.prettyprint {
    font-size: 14px;
    padding: 26px !important;
  }

  .github.button {
    margin-top: 26px;
    padding: 13px 27px;
  }

  .github.button.footer {
    margin-top: 78px;
  }

  .license-badge {
    height: 26px;
    margin-top: 26px;
  }
}

@media screen and (min-width: 700px) {
  header {
    margin: 72px 0 24px 0;
  }

  footer {
    margin-bottom: 48px;
  }

  h4 code {
    font-size: 31px;
    line-height: 48px;
  }

  pre.prettyprint {
    font-size: 14px;
    padding: 24px !important;
  }

  .github.button {
    margin-top: 24px;
    padding: 12px 27px;
  }

  .github.button.footer {
    margin-top: 72px;
  }

  .license-badge {
    height: 24px;
    margin-top: 24px;
  }
}
