body {
  background-color: hsla(0, 0%, 98%, 1);
  color: hsla(0, 0%, 8%, 1);
  font-family: 'Exo 2', sans-serif;
  margin: 0 auto;
  /* padding: 30px; */
  max-width: 750px;
}

code, pre {
  background-color: hsla(0, 0%, 85%, 1);
  border-radius: 3px;
  /* font-size: 0.9em;
  vertical-align: bottom; */
}
