/* Global elements */
body {
  background-color: hsla(0, 0%, 98%, 1);
  color: hsla(0, 0%, 10%, 1);
  font-family: 'Exo 2', sans-serif;
  margin: 0 auto;
  padding: 0 25px;
  max-width: 700px;
  word-wrap: break-word;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

a {
  color: blue;
}

/* Nav bar */
nav {
  text-align: right;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav li {
  display: inline;
}

nav a {
  color: hsla(0, 0%, 10%, 1);
  text-decoration: none;
}

nav a.active {
  font-weight: 700;
}

/* Header */
header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 81px 0 27px 0;
}

header h1 {
  margin: 0;
}

/* Code blocks */
code, pre {
  background-color: hsla(275, 8%, 90%, 1);
  border-radius: 4px;
}

code {
  padding: 0 5px;
}

pre code {
  padding: 0;
}

pre.prettyprint {
  border: none !important;
  font-size: 15px;
  padding: 27px !important;
}

code span {
  font-size: inherit;
}

/* Footer */
footer {
  margin-bottom: 26px;
  margin-top: 80px;
}

/* Utility classes */
.center {
  align-items: center;
  display: flex;
  flex-direction: column;
}

/* Fork me on GitHub button */
.github.icon {
  margin-right: 0.5em;
}

.github.button {
  align-items: center;
  background-color: hsla(0, 0%, 10%, 1);
  border-radius: 50px;
  box-shadow: 0 3px 6px hsla(0, 0%, 0%, 0.15), 0 2px 4px hsla(0, 0%, 0%, 0.12);
  color: hsla(0, 0%, 98%, 1);
  display: flex;
  padding: 14px 27px;
  position: relative;
  margin: 27px auto;
  text-align: center;
  text-decoration: initial;
}

.github.button:hover {
  box-shadow: 0 10px 20px hsla(0, 0%, 0%, 0.15), 0 3px 6px hsla(0, 0%, 0%, 0.1);
  top: -1px;
}

.github.button:active {
  box-shadow: 0 1px 3px hsla(0, 0%, 0%, 0.12), 0 1px 2px hsla(0, 0%, 0%, 0.24);
  top: 1px;
}

/* License badge */
.license-badge {
  align-items: center;
  display: flex;
  height: 27px;
}

/* Remove list styling for config instrustions and functions documentation */
.config-instructions,
.config-maps,
.functions {
  list-style: none;
  padding: 0;
}

.config-instructions li,
.functions li {
  padding: 0;
}

/* Media queries */

/* Tablet */
@media screen and (min-width: 450px) {

  /* Header */
  header {
    margin: 78px 0 26px 0;
  }

  /* Footer */
  footer {
    margin-bottom: 26px;
    margin-top: 78px;
  }

  /* Code */
  pre.prettyprint {
    font-size: 14px;
    padding: 26px !important;
  }

  /* Fork me on GitHub button */
  .github.button {
    margin-bottom: 26px;
    margin-top: 26px;
    padding: 13px 27px;
  }

  /* License badge */
  .license-badge {
    height: 26px;
  }
}

/* Desktop */
@media screen and (min-width: 700px) {

  /* Header */
  header {
    margin: 72px 0 24px 0;
  }

  /* Footer */
  footer {
    margin-bottom: 24px;
    margin-top: 72px;
  }

  /* Code */
  pre.prettyprint {
    font-size: 14px;
    padding: 24px !important;
  }

  /* Fork me on GitHub button */
  .github.button {
    margin-bottom: 24px;
    margin-top: 24px;
    padding: 12px 27px;
  }

  /* License badge */
  .license-badge {
    height: 24px;
  }
}
